/* Styling for general buttons */
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Button hover effect */
.btn:hover:not([disabled]) {
    background: #007bff;
    color: #fff;
}

/* Disabled button styling */
.btn:disabled {
    cursor: no-drop;
}

/* Styling for the "Next" button */
#next-btn {
    text-align: center;
    background-color: #FF69B4;
    border-color: #FF69B4;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* Hover effect for the "Next" button */
#next-btn:hover {
    background-color: #D4509B; /* Darker Pink on hover */
    border-color: #D4509B; /* Darker Pink on hover */
}

/* Styling for correct answer */
.correct {
    background: #9aeabc;
}

/* Styling for incorrect answer */
.incorrect {
    background: #ff9393;
}
