{% extends "main/layout.html" %}

{% block body %}
<section id="article" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="article2.jpg" class="img-fluid mb-4" alt="Article 2">
                <h2 class="mb-4">Article Title 2</h2>
                <p class="text-muted">Published on [Date]</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non felis quis tortor lacinia finibus vel vel ex. Sed auctor bibendum purus, a ultrices arcu pharetra eu. Ut finibus, urna nec maximus mollis, mi arcu commodo tellus, eu vestibulum libero elit eu mauris. Integer ut aliquet metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed iaculis auctor diam. Proin nec enim id arcu congue aliquet.</p>
                <p>...</p>
                <!-- Add more content as needed -->
            </div>
        </div>
    </div>
</section>
{% endblock %}