{% extends "blog/layout.html" %}

{% block body %}
<section id="blog" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Blog</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="article1.jpg" class="card-img-top" alt="Article 1">
                    <div class="card-body">
                        <h5 class="card-title">Article Title 1</h5>
                        <p class="card-text">Short description of article 1.</p>
                        <a href="{% url "blog:article1" %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="article2.jpg" class="card-img-top" alt="Article 2">
                    <div class="card-body">
                        <h5 class="card-title">Article Title 2</h5>
                        <p class="card-text">Short description of article 2.</p>
                        <a href="{% url "blog:article2" %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="article3.jpg" class="card-img-top" alt="Article 3">
                    <div class="card-body">
                        <h5 class="card-title">Article Title 3</h5>
                        <p class="card-text">Short description of article 3.</p>
                        <a href="{% url "blog:article3" %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
