{% extends "main/layout.html" %}
    {% block extraCSS %}
        {% load static %}
        <link rel="stylesheet" href="{% static "quiz/style.css" %}">
    {% endblock %}

    {% block body %}
    <br>
    <div id="app">
        <div class="col-md-6 mx-auto">
            <h3>{{ quiz }}</h3>
            <hr>
            <div v-for="question in questions" :key="question.uid">
                <p>[[question.question]]</p>
                <div class="form-check" v-for="(answer, index) in question.answers" :key="index">
                    <input
                        @change="checkAnswer($event, question.uid)"
                        :value="answer.answer"
                        class="form-check-input"
                        type="radio"
                        :name="'exampleRadios' + question.uid"
                        :id="'exampleRadios' + question.uid + '_' + index"
                        :disabled="quizFinished"
                    >
                    <label :for="'exampleRadios' + question.uid + '_' + index" class="form-check-label">
                        [[answer.answer]]
                    </label>
                </div>
                <hr>
            </div>
            <button class="btn" @click="finishQuiz" :disabled="quizFinished">Finish</button>
            <div v-if="quizFinished">
                <h4>Your Score: [[score]] out of [[maxScore]]</h4>
            </div>
        </div>
    </div>
    
    <br>
    {% endblock %}

    {% block extraScript %}
    {% load static %}
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data() {
                return {
                    quiz : '{{ quiz }}',
                    questions : [],
                    score: 0,
                    quizFinished: false,
                    maxScore: 0
                }
            },
            methods : {
                getQuestions(){
                    var _this = this
                    fetch(`/quiz/api/get-quiz/?quiz=${_this.quiz}`)
                    .then(response => response.json())
                    .then(result =>{
                        console.log(result)
                        _this.questions = result.data
                    });
                },
                checkAnswer(event, uid){
                    if (!this.quizFinished) {
                        this.questions.map(question =>{
                            answers = question.answers
                            for(var i=0; i < answers.length; i++){
                                if(answers[i].answer == event.target.value){
                                    if(answers[i].is_correct){
                                        console.log("Your answer is correct")
                                        this.score++;
                                    } else {
                                        console.log("Your answer is incorrect")
                                    }
                                }
                            }
                        })
                    }
                    console.log(event.target.value, uid)
                },
                finishQuiz(){
                    this.maxScore = this.questions.length;
                    this.quizFinished = true;
                    console.log("Quiz finished. Your score: " + this.score);
                    // You can perform additional actions here based on the quiz completion.
                }
            },
            created() {
                this.getQuestions()
            },
        });
    </script>
    {% endblock %}


   













   