{% extends "main/layout.html" %}


{% block body %}

    <section id="materials" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Educational Materials</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="material1.jpg" class="card-img-top" alt="Material 1">
                        <div class="card-body">
                            <h5 class="card-title">Material Title 1</h5>
                            <p class="card-text">Description of material 1.</p>
                            <a href="{% url "educationalMaterials:page1" %}" class="btn btn-primary">Follow</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="material2.jpg" class="card-img-top" alt="Material 2">
                        <div class="card-body">
                            <h5 class="card-title">Material Title 2</h5>
                            <p class="card-text">Description of material 2.</p>
                            <a href="{% url "educationalMaterials:page2" %}" class="btn btn-primary">Follow</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="material3.jpg" class="card-img-top" alt="Material 3">
                        <div class="card-body">
                            <h5 class="card-title">Material Title 3</h5>
                            <p class="card-text">Description of material 3.</p>
                            <a href="{% url "educationalMaterials:page3" %}" class="btn btn-primary">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}