{% extends "main/layout.html" %}


{% block body %}

    <section id="material-details" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="material1.jpg" class="img-fluid" alt="Material 1">
                </div>
                <div class="col-md-6">
                    <h2>Material Title 1</h2>
                    <p>Description of material 1.</p>
                    <p>This educational material provides valuable information about environmental conservation and ways children can contribute to a greener planet.</p>
                    <a href="#" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}