{% extends "main/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mt-5 mb-4">Privacy Policy</h2>

            <p>This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from our website.</p>

            <h4>Information We Collect</h4>
            <p>We collect information you provide directly to us. For example, when you fill out a contact form or sign up for our newsletter, we may collect your name and email address.</p>

            <h4>How We Use Your Information</h4>
            <p>We may use the information collected in various ways, including to communicate with you, to send you newsletters, and to improve our services.</p>

            <h4>Sharing Your Information</h4>
            <p>We do not sell, trade, or otherwise transfer your personal information to outside parties.</p>

            <h4>Security</h4>
            <p>We take reasonable precautions to protect your information. However, no method of transmission over the internet or electronic storage is completely secure.</p>

            <h4>Changes to This Privacy Policy</h4>
            <p>We may update this privacy policy from time to time to reflect changes to our practices or for other operational, legal, or regulatory reasons.</p>

            <h4>Contact Us</h4>
            <p>If you have any questions about this privacy policy, please contact us at <a href="{% url 'main:index' %}#contact">"Contact Us Form"</a>.</p>
        </div>
    </div>
</div>
{% endblock %}